.header-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 15px;
    background-color: #393e46a9;
}

.form {
    background-color: #393e46a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin: auto;
    color: white;
}

.form1 {
    padding: 15px;
}