.equipos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
    margin: auto;

    .equipos-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        color: white;
        width: 90%;

        h2 {
            font-size: 1.5rem;
            color: $color-principal;
            font-weight: 700;

            @include desktop {
                font-size: 3rem;
            }
        }

        p {
            @include desktop {
                font-size: 1.3rem;
            }
        }
    }

    .equipos-matrice {
        @include tarjeta-equipos;

        img {
            width: 80%;
            padding: 10px;
            border-radius: 20px;

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 30%;
            }
        }

        div {
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: column;

            p {
                text-align: justify;
                width: 80%;

                @include desktop {
                    font-size: 1.1rem;
                }
            }
        }

        @include tablet {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    .equipos-inspire {
        @include tarjeta-equipos;

        img {
            width: 100%;
            padding: 10px;
            border-radius: 20px;

            @include tablet {
                width: 60%;
            }
        }

        div {
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: column;

            p {
                text-align: justify;
                width: 80%;

                @include desktop {
                    font-size: 1.1rem;
                }
            }
        }

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .equipos-phantom {
        @include tarjeta-equipos;

        img {
            width: 80%;
            padding: 10px;
            border-radius: 20px;

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 35%;
            }
        }

        div {
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: column;

            p {
                text-align: justify;
                width: 80%;

                @include desktop {
                    font-size: 1.1rem;
                }
            }
        }

        @include tablet {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    .equipos-matrice-rtk {
        @include tarjeta-equipos;

        img {
            width: 80%;
            padding: 10px;
            border-radius: 20px;

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 45%;
                padding: 50px;
            }
        }

        div {
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: column;

            p {
                text-align: justify;
                width: 80%;

                @include desktop {
                    font-size: 1.1rem;
                }
            }
        }

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .equipos-mavic {
        @include tarjeta-equipos;

        img {
            width: 100%;
            padding: 10px;
            border-radius: 20px;

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 40%;
            }
        }

        div {
            display: flex;
            align-items: center;
            width: 100%;
            flex-direction: column;

            p {
                text-align: justify;
                width: 80%;

                @include desktop {
                    font-size: 1.1rem;
                }
            }
        }

        @include tablet {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    h3 {
        padding: 15px;
        font-weight: map-get($map: $font-weights, $key: mediano);

        @include desktop {
            font-size: 2.5rem;
            font-weight: map-get($map: $font-weights, $key: grande);
        }
    }

}