.equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin: auto;
}

.equipos-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: white;
    background-color: #393e46a9;
    width: 90%;
}
.equipos-header h2{
    font-size: 1.5rem;
    color: $color-principal;
}

.equipos h3 {
    padding: 15px;
    color: $color-principal;
}

.equipos-matrice,
.equipos-inspire,
.equipos-phantom,
.equipos-matrice-rtk,
.equipos-mavic {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #393e46a9;
}

.equipos-matrice div,
.equipos-inspire div,
.equipos-phantom div,
.equipos-matrice-rtk div,
.equipos-mavic div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipos-matrice img,
.equipos-inspire img,
.equipos-phantom img,
.equipos-matrice-rtk img,
.equipos-mavic img {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}

.equipos-matrice div p,
.equipos-inspire div p,
.equipos-phantom div p,
.equipos-matrice-rtk div p,
.equipos-mavic div p {
    text-align: justify;
    width: 80%;
}

@media (min-width:768px) {

    .equipos-matrice,
    .equipos-phantom,
    .equipos-mavic {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .equipos-inspire,
    .equipos-matrice-rtk {
        flex-direction: row;
        justify-content: space-between;
    }



    .equipos-matrice img,
    .equipos-inspire img,
    .equipos-phantom img,
    .equipos-matrice-rtk img,
    .equipos-mavic img {
        width: 50%;
    }
}

@media (min-width:1050px) {
    .equipos h2 {
        font-size: 2.2rem;
    }
    .equipos div h3 {
        font-size: 1.6rem;
    }
    .equipos div p {
        font-size: 1.1rem;
    }
    .equipos-matrice img{
        width: 30%;
    }
    .equipos-phantom img{
        width: 35%;
    }
    .equipos-matrice-rtk img{
        width: 50%;
        padding: 50px;
    }
    .equipos-matrice:hover,
    .equipos-inspire:hover,
    .equipos-phantom:hover,
    .equipos-matrice-rtk:hover,
    .equipos-mavic:hover {
    transform: scale(1.01)
    }

}