.contenedor-galeria {
    @include flexCenter;
    flex-direction: column;
    padding: 20px;

    .header-galeria {
        @include flexCenter;
        flex-direction: column;
        text-align: center;
        color: white;
        padding: 15px;

        h2 {
            font-size: 1.5rem;
            color: $color-principal;
            font-weight: 700;

            @include desktop {
                font-size: 3rem;
            }
        }
    }

    .galeria {
        @include flexCenter;
        flex-direction: column;
        padding-top: 20px;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 20px 20px;
        }

        .trabajo {
            width: 100%;
            padding-top: 10px;
            overflow: hidden;
            border-radius: 10px;

            @include tablet {
                padding-top: 0;
                width: 100%;
            }

            img {
                width: 100%;
                border-radius: 15px;
                transition: 0.5s all ease-in-out;

                @include tablet {
                    width: 100%;
                    border-radius: 10px;
                    
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}