.contenedor-galeria {
    @include flexCenter;
    flex-direction: column;
    padding: 10px;

    .header-galeria {
        @include flexCenter;
        flex-direction: column;
        text-align: center;
        color: white;
        padding: 15px;
        background-color: $color-secundario;

        h2 {
            color: $color-principal;

            @include tablet {
                font-size: 2.1rem;
            }
        }
    }

    .galeria {
        @include flexCenter;
        flex-direction: column;

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 0px 10px;
        }

        div {
            width: 100%;
            padding-top: 10px;

            @include tablet {
                padding-top: 0;
                width: 100%;
            }

            img {
                width: 100%;
                border-radius: 15px;

                @include tablet {
                    width: 100%;
                    border-radius: 15px;

                    &:hover {
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
}