.sobre-nosotros {
    color: white;
    background-color: #0091ca96;
    width: 100%;
    margin-top: 30px;
    padding: 5px;
}

.sobre-nosotros h2 {
    font-size: 1.5rem;
}

.sobre-nosotros p {
    text-align: center;
    padding: 20px;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin: auto;
}

.servicios h2 {
    font-size: 1.5rem;
    color: white;
}

.servicios h3 {
    padding: 15px;
}

.servicios-topografia,
.servicios-agricultura,
.servicios-inspecciones,
.servicios-seguimiento,
.servicios-audiovisual {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0091ca96;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

.servicios-topografia div,
.servicios-agricultura div,
.servicios-inspecciones div,
.servicios-seguimiento div,
.servicios-audiovisual div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios-topografia div img,
.servicios-agricultura div img,
.servicios-inspecciones div img,
.servicios-seguimiento div img,
.servicios-audiovisual div img {
    width: 90%;
    padding: 10px;
    border-radius: 15px;
}

.servicios-topografia div p,
.servicios-agricultura div p,
.servicios-inspecciones div p,
.servicios-seguimiento div p,
.servicios-audiovisual div p {
    text-align: justify;
    width: 80%;
}

@media (min-width: 768px) {

    .servicios-topografia,
    .servicios-agricultura,
    .servicios-inspecciones,
    .servicios-seguimiento,
    .servicios-audiovisual {
        width: 70%;
    }

    .sobre-nosotros h2 {
        font-size: 2rem;
    }

    .servicios h2 {
        font-size: 1.7rem;
    }

    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "titulo titulo"
            "topografia ."
            ". agricultura"
            "inspecciones ."
            ". seguimiento"
            "audiovisual .";
        justify-items: center;
    }

    .servicios h2 {
        grid-area: titulo;
    }

    .servicios-topografia {
        grid-area: topografia;
    }

    .servicios-agricultura {
        grid-area: agricultura;
    }

    .servicios-inspecciones {
        grid-area: inspecciones;
    }

    .servicios-seguimiento {
        grid-area: seguimiento;
    }

    .servicios-audiovisual {
        grid-area: audiovisual;
    }

}

/* --- slider --- */

.contenedor-empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    color: white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.contenedor-empresas h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.contenedor-empresas .slider {
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #0091ca96;
    margin-top: 10px;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.contenedor-empresas .slider img {
    width: 100px;
    padding: 10px;
}

@media (min-width: 768px) {
    .contenedor-empresas h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .contenedor-empresas h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1366px) {
    .contenedor-empresas .slider {
        justify-content: space-between;
    }
}