.servicios2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
    margin: auto;
}

.servicios-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: white;
    background-color: #393e46a9;
    width: 90%;
}

.servicios2 h2 {
    font-size: 1.7rem;
    color: white;
}

.servicios2 h3 {
    padding: 15px;
}

.servicios2-topografia,
.servicios2-agricultura,
.servicios2-inspecciones,
.servicios2-seguimiento,
.servicios2-audiovisual {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #393e46a9;
}

.servicios2-topografia div,
.servicios2-agricultura div,
.servicios2-inspecciones div,
.servicios2-seguimiento div,
.servicios2-audiovisual div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios2-topografia img,
.servicios2-agricultura img,
.servicios2-inspecciones img,
.servicios2-seguimiento img,
.servicios2-audiovisual img {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}

.servicios2-topografia div p,
.servicios2-agricultura div p,
.servicios2-inspecciones div p,
.servicios2-seguimiento div p,
.servicios2-audiovisual div p {
    text-align: justify;
    width: 80%;
}

@media (min-width:768px) {

    .servicios2-topografia,
    .servicios2-inspecciones,
    .servicios2-audiovisual {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .servicios2-agricultura,
    .servicios2-seguimiento {
        flex-direction: row;
        justify-content: space-between;
    }



    .servicios2-topografia img,
    .servicios2-agricultura img,
    .servicios2-inspecciones img,
    .servicios2-seguimiento img,
    .servicios2-audiovisual img {
        width: 50%;
    }
}

@media (min-width:1050px) {
    .servicios2 h2 {
        font-size: 2.2rem;
    }

    .servicios2 div h3 {
        font-size: 1.6rem;
    }

    .servicios2 div p {
        font-size: 1.1rem;
    }
}