footer {
    width: 100%;
    background-color: $color-secundario;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.footer-contacto {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer-contacto h3, a {
    padding: 5px;
}


.footer-nav {
    text-align: center;
    padding: 10px;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
}

.footer-nav ul li {
    padding: 10px;
}

.footer-redes {
    padding: 10px;
}

.footer-redes ul {
    display: flex;
    flex-direction: row;
}

.footer-redes ul li {
    padding: 10px;
}

.footer-redes ul li a img {
    width: 20px;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }

    .footer-contacto {
        text-align: left;
    }

    .footer-contacto h3 {
        text-align: left;
    }

    .footer-nav ul {
        flex-direction: column;
    }

    .footer-nav ul li {
        padding: 2.5px;
    }

    .footer-redes ul li a img {
        width: 25px;
    }
}

@media (min-width: 1200px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
    }

    .footer-redes ul li a img {
        width: 30px;
    }

}