.navbar {
    background-color: $color-principal;
    padding: 30px;

    .container-fluid {
        align-items: baseline;

        .navbar-brand {
            color: white;
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    .nav-link{
        &:hover{
            background-color: $color-secundario;
            filter: opacity(50%);
            border-radius: 5px;
        }
    }
}