header {
    background-color: $color-principal;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

header nav ul li {
    padding: 5px;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        font-size: 1.1rem;
    }

    header nav ul li {
        padding: 10px;
    }
    header nav ul li:hover{
        background-color: #393e46d7;
    }
}


@media (min-width:1200px) {
    header {
        padding: 40px;
        font-size: 1.2rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header nav ul li {
        padding: 5px;
    }
}