body {
    background: url(../img/bg-body4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: #393e46d7;
}


h1 {
    font-weight: 800;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        color: $color-principal;
    }
}

h2{
    text-align: center;
    color: $color-principal;
}

h3{
    color: $color-principal;
}

ul{
    list-style-type: none;
}

video {
    width: 100%;
}