body {
    background: url(../img/bg-body4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    font-weight: 800;
}

a{
    text-decoration: none;
    color: white;
}

h2,
h3 {
    text-align: center;
}

ul{
    list-style-type: none;
}

video {
    width: 100%;
}